In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd

# # Para la Visualizacion 
# # -----------------------------------------------------------------------
# import math
# import seaborn as sns
# import matplotlib.pyplot as plt

# # Para los modelos
# # -----------------------------------------------------------------------
# from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score

# # Importar métricas de evaluación directamente
# from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score

# Para la codificación de las variables categóricas
# -----------------------------------------------------------------------
from sklearn.preprocessing import OneHotEncoder 
from category_encoders import TargetEncoder  

# Para la codificación de las variables numéricas
# -----------------------------------------------------------------------
from sklearn.preprocessing import MinMaxScaler, Normalizer, StandardScaler, RobustScaler

import pickle
import os
import sys 

import warnings
warnings.filterwarnings("ignore")

sys.path.append(os.path.abspath("../src"))   
import soporte_preprocesamiento as f

pd.set_option("display.max_columns", None)

In [2]:
df_pequeñas=pd.read_pickle("../datos/red_piso/Datos_formateados/pequeñas_formateadas.pkl")
df_medianas=pd.read_pickle("../datos/red_piso/Datos_formateados/medianas_formateadas.pkl")
df_amplias=pd.read_pickle("../datos/red_piso/Datos_formateados/amplias_formateadas.pkl")
df_grandes=pd.read_pickle("../datos/red_piso/Datos_formateados/grandes_formateadas.pkl")

**ABRO LOS PKL DE ENCODING**

In [7]:
frecuencia_diccs = {
    "frecuencia_peq_dicc": "../transformers/preprocesamiento/pequeñas/frecuencia_dicc.pkl",
    "frecuencia_med_dicc": "../transformers/preprocesamiento/medianas/frecuencia_med_dicc.pkl",
    "frecuencia_amp_dicc": "../transformers/preprocesamiento/amplias/frecuencia_amp_dicc.pkl",
    "frecuencia_gra_dicc": "../transformers/preprocesamiento/grandes/frecuencia_gra_dicc.pkl"}

frecuencia_cargada = {nombre: pickle.load(open(ruta, "rb")) for nombre, ruta in frecuencia_diccs.items()}

frecuencia_peq_dicc, frecuencia_med_dicc, frecuencia_amp_dicc, frecuencia_gra_dicc = frecuencia_cargada.values()

**ABRO LOS PKL DE ESTANDARIZACIÓN**

In [8]:
scalers = {
    "estandar_peq": "../transformers/preprocesamiento/pequeñas/Standard_scaler.pkl",
    "estandar_med": "../transformers/preprocesamiento/medianas/Minmax_scaler.pkl",
    "estandar_amp": "../transformers/preprocesamiento/amplias/Standard_scaler.pkl",
    "estandar_gra": "../transformers/preprocesamiento/grandes/Robust_scaler.pkl"}

scalers_cargados = {nombre: pickle.load(open(ruta, "rb")) for nombre, ruta in scalers.items()}

estandar_peq, estandar_med, estandar_amp, estandar_gra = scalers_cargados.values()

Aplico el Encoding

In [9]:
df_peq_encoded = f.apply_frequency_encoding(df_pequeñas, frecuencia_peq_dicc)
df_med_encoded = f.apply_frequency_encoding(df_medianas, frecuencia_med_dicc)
df_amp_encoded = f.apply_frequency_encoding(df_amplias, frecuencia_amp_dicc)
df_gra_encoded = f.apply_frequency_encoding(df_grandes, frecuencia_gra_dicc)

In [10]:
df_peq_encoded.head()

,ascensor,idq_pv,ccaa,ayudas_ccaa,bonificaciones,radiacion_solar,aguacalcent,calefac,metrosvi,naseos,ndormito,valor,nplazasgar,annoedifinterv,accesoedif,estadoedif
0,0.404436,0.031963,0.051098,6000,0.591868,5.73,0.751033,0.388563,0.799739,0.905849,0.457056,209440,0.681018,0.139813,0.55773,0.096108
1,0.595564,0.096108,0.124375,9000,0.363557,5.40,0.751033,0.388563,0.200261,0.905849,0.328115,89000,0.681018,0.051533,0.44227,0.130898
2,0.595564,0.096108,0.124375,9000,0.363557,5.40,0.751033,0.388563,0.799739,0.905849,0.328115,100000,0.681018,0.088063,0.44227,0.096108
3,0.595564,0.096108,0.124375,9000,0.363557,5.40,0.751033,0.388563,0.799739,0.905849,0.328115,130000,0.681018,0.041313,0.44227,0.096108
4,0.595564,0.096108,0.124375,9000,0.363557,5.40,0.751033,0.388563,0.200261,0.905849,0.328115,68000,0.681018,0.041313,0.44227,0.130898

In [11]:
df_med_encoded.head(2)

,ascensor,idq_pv,ccaa,ayudas_ccaa,bonificaciones,radiacion_solar,aguacalcent,calefac,metrosvi,naseos,ndormito,valor,nplazasgar,annoedifinterv,accesoedif,estadoedif
0,0.422752,0.034483,0.075833,6000,0.517677,5.73,0.744549,0.214496,0.152338,0.597905,0.040433,85000,0.529264,0.194871,0.654194,0.135694
1,0.422752,0.034483,0.075833,6000,0.517677,5.73,0.744549,0.214496,0.327955,0.597905,0.579939,105000,0.529264,0.147571,0.345806,0.135694

In [12]:
df_amp_encoded.head(2)

,ascensor,idq_pv,ccaa,ayudas_ccaa,bonificaciones,radiacion_solar,aguacalcent,calefac,metrosvi,naseos,ndormito,valor,nplazasgar,annoedifinterv,accesoedif,estadoedif
0,0.436601,0.011585,0.063769,4500,0.570292,5.72,0.347134,0.181961,0.229672,0.683306,0.567026,249000,0.383892,0.177489,0.689985,0.043978
1,0.436601,0.011585,0.063769,4500,0.570292,5.72,0.652866,0.181961,0.229672,0.683306,0.567026,250000,0.166642,0.177489,0.689985,0.043978

In [13]:
df_gra_encoded.head(2)

,ascensor,idq_pv,ccaa,ayudas_ccaa,bonificaciones,radiacion_solar,aguacalcent,calefac,metrosvi,naseos,ndormito,valor,nplazasgar,annoedifinterv,accesoedif,estadoedif
0,0.883533,0.023446,0.079444,4000,0.592803,5.73,0.517121,0.136941,0.583424,0.380316,0.403162,335000,0.08386,0.221810,0.351418,0.242203
1,0.883533,0.023446,0.079444,4000,0.592803,5.73,0.517121,0.128244,0.583424,0.118484,0.000218,440000,0.08386,0.063413,0.648582,0.030262

Aplico la Estandarización

PEQUEÑAS

In [14]:
columnas_categoricas=['idq_pv', 'calefac', 'naseos', 'ndormito', 'metrosvi', 'annoedifinterv', 'estadoedif', 'accesoedif', 'ascensor', 'nplazasgar', 'aguacalcent', 'ccaa', 'bonificaciones', "valor"] #incluyo valor aunque no sea categorica para que no la toque
nums_peq = df_peq_encoded.select_dtypes(include=np.number)
cols_a_estandarizar = [col for col in nums_peq.columns if col not in columnas_categoricas]
df_peq_estandarizado = estandar_peq.transform(nums_peq[cols_a_estandarizar])
df_peq_estandarizado = pd.DataFrame(df_peq_estandarizado, columns=cols_a_estandarizar)
df_peq_encoded[cols_a_estandarizar] = df_peq_estandarizado

In [15]:
df_peq_encoded.head()

,ascensor,idq_pv,ccaa,ayudas_ccaa,bonificaciones,radiacion_solar,aguacalcent,calefac,metrosvi,naseos,ndormito,valor,nplazasgar,annoedifinterv,accesoedif,estadoedif
0,0.404436,0.031963,0.051098,0.133775,0.591868,0.569241,0.751033,0.388563,0.799739,0.905849,0.457056,209440,0.681018,0.139813,0.55773,0.096108
1,0.595564,0.096108,0.124375,2.046608,0.363557,0.046395,0.751033,0.388563,0.200261,0.905849,0.328115,89000,0.681018,0.051533,0.44227,0.130898
2,0.595564,0.096108,0.124375,2.046608,0.363557,0.046395,0.751033,0.388563,0.799739,0.905849,0.328115,100000,0.681018,0.088063,0.44227,0.096108
3,0.595564,0.096108,0.124375,2.046608,0.363557,0.046395,0.751033,0.388563,0.799739,0.905849,0.328115,130000,0.681018,0.041313,0.44227,0.096108
4,0.595564,0.096108,0.124375,2.046608,0.363557,0.046395,0.751033,0.388563,0.200261,0.905849,0.328115,68000,0.681018,0.041313,0.44227,0.130898

MEDIANAS

In [17]:
nums_med = df_med_encoded.select_dtypes(include=np.number)
cols_a_estandarizar = [col for col in nums_med.columns if col not in columnas_categoricas]
df_med_estandarizado = estandar_med.transform(nums_med[cols_a_estandarizar])
df_med_estandarizado = pd.DataFrame(df_med_estandarizado, columns=cols_a_estandarizar)
df_med_encoded[cols_a_estandarizar] = df_med_estandarizado

In [18]:
df_med_encoded.head()

,ascensor,idq_pv,ccaa,ayudas_ccaa,bonificaciones,radiacion_solar,aguacalcent,calefac,metrosvi,naseos,ndormito,valor,nplazasgar,annoedifinterv,accesoedif,estadoedif
0,0.422752,0.034483,0.075833,0.5,0.517677,0.880165,0.744549,0.214496,0.152338,0.597905,0.040433,85000,0.529264,0.194871,0.654194,0.135694
1,0.422752,0.034483,0.075833,0.5,0.517677,0.880165,0.744549,0.214496,0.327955,0.597905,0.579939,105000,0.529264,0.147571,0.345806,0.135694
2,0.422752,0.034483,0.075833,0.5,0.517677,0.880165,0.744549,0.214496,0.519706,0.393581,0.070764,168000,0.060082,0.159530,0.345806,0.135694
3,0.577248,0.034483,0.075833,0.5,0.517677,0.880165,0.744549,0.214496,0.519706,0.597905,0.301417,199000,0.060082,0.159530,0.654194,0.080298
4,0.577248,0.034483,0.075833,0.5,0.517677,0.880165,0.744549,0.229215,0.519706,0.597905,0.301417,239900,0.060082,0.178528,0.654194,0.135694

AMPLIAS

In [20]:
nums_amp = df_amp_encoded.select_dtypes(include=np.number)
cols_a_estandarizar = [col for col in nums_amp.columns if col not in columnas_categoricas]
df_amp_estandarizado = estandar_amp.transform(nums_amp[cols_a_estandarizar])
df_amp_estandarizado = pd.DataFrame(df_amp_estandarizado, columns=cols_a_estandarizar)
df_amp_encoded[cols_a_estandarizar] = df_amp_estandarizado

In [21]:
df_amp_encoded.head()

,ascensor,idq_pv,ccaa,ayudas_ccaa,bonificaciones,radiacion_solar,aguacalcent,calefac,metrosvi,naseos,ndormito,valor,nplazasgar,annoedifinterv,accesoedif,estadoedif
0,0.436601,0.011585,0.063769,-0.431039,0.570292,0.570389,0.347134,0.181961,0.229672,0.683306,0.567026,249000,0.383892,0.177489,0.689985,0.043978
1,0.436601,0.011585,0.063769,-0.431039,0.570292,0.570389,0.652866,0.181961,0.229672,0.683306,0.567026,250000,0.166642,0.177489,0.689985,0.043978
2,0.436601,0.011585,0.063769,-0.431039,0.570292,0.570389,0.652866,0.181961,0.470339,0.683306,0.567026,223600,0.383892,0.153596,0.689985,0.191716
3,0.436601,0.036955,0.101396,0.546394,0.570292,0.587042,0.652866,0.180722,0.470339,0.206879,0.567026,110000,0.383892,0.153596,0.689985,0.191716
4,0.436601,0.036955,0.101396,0.546394,0.570292,0.587042,0.652866,0.180722,0.299989,0.206879,0.567026,135000,0.383892,0.049820,0.310015,0.043978

GRANDES

In [23]:
nums_gra = df_gra_encoded.select_dtypes(include=np.number)
cols_a_estandarizar = [col for col in nums_gra.columns if col not in columnas_categoricas]
df_gra_estandarizado = estandar_gra.transform(nums_gra[cols_a_estandarizar])
df_gra_estandarizado = pd.DataFrame(df_gra_estandarizado, columns=cols_a_estandarizar)
df_gra_encoded[cols_a_estandarizar] = df_gra_estandarizado

In [24]:
df_gra_encoded.head()

,ascensor,idq_pv,ccaa,ayudas_ccaa,bonificaciones,radiacion_solar,aguacalcent,calefac,metrosvi,naseos,ndormito,valor,nplazasgar,annoedifinterv,accesoedif,estadoedif
0,0.883533,0.023446,0.079444,0.0,0.592803,0.190476,0.517121,0.136941,0.583424,0.380316,0.403162,335000,0.083860,0.221810,0.351418,0.242203
1,0.883533,0.023446,0.079444,0.0,0.592803,0.190476,0.517121,0.128244,0.583424,0.118484,0.000218,440000,0.083860,0.063413,0.648582,0.030262
2,0.116467,0.023446,0.079444,0.0,0.592803,0.190476,0.517121,0.136941,0.583424,0.374373,0.403162,499900,0.279771,0.124591,0.648582,0.242203
3,0.883533,0.023446,0.079444,0.0,0.592803,0.190476,0.517121,0.136941,0.583424,0.374373,0.144602,199000,0.278626,0.124591,0.351418,0.242203
4,0.883533,0.023446,0.079444,0.0,0.592803,0.190476,0.517121,0.128244,0.416576,0.089695,0.340894,169000,0.278626,0.124591,0.351418,0.030262

## **Ya hemos confirmado que se han codificado y estandarizado correctamente**

In [26]:
df_peq_encoded.to_pickle("../datos/red_piso/Datos_preprocesados/pequeñas_preprocesadas.pkl")
df_med_encoded.to_pickle("../datos/red_piso/Datos_preprocesados/medianas_preprocesadas.pkl")
df_amp_encoded.to_pickle("../datos/red_piso/Datos_preprocesados/amplias_preprocesadas.pkl")
df_gra_encoded.to_pickle("../datos/red_piso/Datos_preprocesados/grandes_preprocesadas.pkl")